body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.nav ul {
  /* place-content: flex-start end; */
  background:#181515;
  padding: 10px 20px;
  position:sticky;
  margin: 0;
  display:flex;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  /* padding: 0px 159.4px; */
  text-decoration: none;
  height:100%;
  width: 100%;  
}

li a:hover {
  background-color:aqua;
  color:black;
  padding: 20px 10px;
  transition: .1s;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
